cycler==0.11.0
flake8==4.0.1
fonttools==4.33.2
future==0.18.2
iso8601==1.0.2
kiwisolver==1.4.2
matplotlib==3.5.1
mccabe==0.6.1
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
psutil==5.9.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.8
pyserial==3.5
python-dateutil==2.8.2
PyYAML==6.0
six==1.16.0
